* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-size: 30px;
  line-height: 1;
}

p {
  margin-bottom: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.ultimate-container {
  max-width: 1280px;
  margin: 0 auto;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  margin: auto;
  display: block;

  padding: 30px 50px;
}

.section-title {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

i {
  color: #199cdb;
}

.image-box {
  width: 100%;
  height: 480px;
}

.imag {
  width: 100%;
  height: 100%;
  background-image: url("../images/background.jpg");
  /* /images/background.jpg */
  filter: brightness(50%);

  background-position: center;
  background-size: cover;
}

#banner h1,
#banner span {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  width: max-content;
}

#banner span {
  font-size: 20px;
  top: 180px;
}
/* position cho cái "Java Developer" riêng bởi em không biết chỉnh
cho nó center được */

a {
  text-decoration: none;
}

nav a {
  color: black;
}

#nav-bar {
  text-align: center; /* dành cho phần đã bị che khuất bởi ảnh ở giữa */
  position: relative;
}

#nav-bar img {
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 8px solid white;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-bar .container {
  width: 1000px;

  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 400px repeat(2, 1fr);
}

.grow3 {
  border-right: 1px solid rgba(128, 128, 128, 0.205);
  height: 50px;
}

.grow3 {
  display: inline-block;
}

#about {
  display: flex;

  line-height: 30px;
}

#target,
#personal-info {
  flex: 1;
  padding: 80px 50px 50px;
}

/* personal-info */

#about h1 {
  margin-bottom: 30px;
}

.mt-40 {
  list-style: none;
  padding-left: 0;
}

.job-contain span {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.content-container {
  display: flex;
  column-gap: 20px;
}

#certificate h1 {
  margin-bottom: 50px;
  margin-top: 20px;
}

.content-container img {
  width: 200px;
}

/* mỗi phần certificate */
.certi {
  display: flex;
  gap: 30px;
  /* padding: 40px 0; */
  margin-bottom: 40px;
}

.certi1 {
  border-right: 1px solid grey;
}

/* các tiêu đề của certificate */
.certi p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: black;
}

.du-an {
  display: flex;
  justify-content: space-around;
}

#project h1 {
  margin-bottom: 30px;
}

.du-an img {
  width: 300px;
  border: 1px solid rgba(108, 108, 108, 0.235);
}

.du-an-first {
  display: block;
  width: 300px;
  position: relative;
}

.du-an-first img {
  width: 100%;
  display: block;
}

/* Hidden by default */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.du-an-first:hover .overlay,
.du-an-first:hover .overlay-text {
  opacity: 1;
}

#footer .container {
  text-align: center;
}

#footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 0;
}

#footer ul li {
  display: flex;
}

#footer a {
  display: inline-block;
  align-self: center;
  color: rgba(128, 128, 128, 0.537);
}

#footer i {
  color: #199cdb;
  font-size: 30px;
}
