* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-size: 30px;
  line-height: 1;
}

p {
  margin-bottom: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.ultimate-container {
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  max-width: inherit;
  display: block;
  padding: 30px 50px;
  margin: 0;
}

.section-title {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

i {
  color: #199cdb;
}

.image-box {
  width: 100%;
  height: 480px;
}

.image-bg {
  width: 100%;
  height: 100%;
  background-image: url("../images/background.jpg");
  filter: brightness(50%);

  background-position: center;
  background-size: cover;
}

.banner-content {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
}

#banner h1,
#banner span {
  text-align: center;
}

#banner span {
  font-size: 20px;
  top: 180px;
}

a {
  text-decoration: none;
}

nav a {
  color: black;
}

#nav-bar {
  text-align: center;
  position: relative;
}

#nav-bar img {
  position: absolute;
  /* height: 200px; */
  width: 200px;
  border-radius: 50%;
  border: 8px solid white;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nav-bar .container {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 400px repeat(2, 1fr);
}

.avatar {
  border-right: 1px solid rgba(128, 128, 128, 0.205);
  height: 50px;
  display: inline-block;
}

#about {
  display: flex;
  line-height: 30px;
}

#about-me,
#personal-info {
  flex: 1;
  padding: 80px 50px 50px;
}
#personal-info i {
  color: #199cdb;
  font-size: 25px;
  margin-right: 15px;
}

#about h1 {
  margin-bottom: 30px;
}

.mt-40 {
  list-style: none;
  padding-left: 0;
}

.job-contain span {
  background: #199cdb;
  display: inline-block;
  height: 2px;
  margin-right: 10px;
  width: 45px;
}

.certi-container {
  display: flex;
  gap: 2px;
  justify-content: space-between;
}

#certificate h1 {
  margin-bottom: 50px;
  margin-top: 20px;
}

.certi {
  display: flex;
  gap: 20px;
  padding-left: 5px;
}

.certi-container img {
  width: 30%;
}

.certi p:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: black;
}

.project {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

#project h1 {
  margin-bottom: 30px;
}
.project-child {
  display: block;
  width: 50%;
  position: relative;
}

.project-child img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
}

.project-child:hover .overlay,
.project-child:hover .overlay-text {
  opacity: 1;
}

#footer .container {
  text-align: center;
}

#footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-left: 0;
  margin-bottom: 0;
}

#footer ul li {
  display: flex;
}

#footer a {
  display: inline-block;
  align-self: center;
  color: rgba(128, 128, 128, 0.537);
}

#footer i {
  color: #199cdb;
  font-size: 30px;
}

.credit {
  text-align: center;
  margin-top: 10px 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 992px) {
  .certi img {
    display: none;
  }
  #about {
    display: block;
  }
  #about-me,
  #personal-info,
  section > .container {
    padding: 30px 20px;
  }
}

@media (pointer: coarse) and (hover: none) {
  .overlay,
  .overlay-text {
    opacity: 1;
  }
}
